@model IEnumerable<Client_IDH14.Models.FileHandler>

@{
    ViewBag.Title = "Home Page";
}

<h2>Connect to server!</h2>

<form method="post" runat="server" action="Connect">

    Server IP: <input type="text" name="server" />
    Port: <input type="text" name="port" />
    <input type="submit" value="Connect!" class="btn btn-default" />

</form>

<h2>Files</h2>

<form method="post" runat="server" action="Home/GetFile">
    @foreach (var file in Model)

    {
        <span>
            <input type="checkbox" name="selectedFile" value="@file.FileName" />
            <label for="@file.FileName">@file.FileName</label>
        </span>
    }

    <input type="submit" value="Get File" class="btn btn-default" />
</form>

    <form method="post" runat="server" action="Home/GetListServer">
        <input type="submit" value="Get list" class="btn btn-default" />
    </form>

    <form method="post" runat="server" action="Home/PutFile">
        <input type="submit" value="Put file" class="btn btn-default" />
    </form>
