@model IEnumerable<Client_IDH14.Models.FileHandler>

@{
    ViewBag.Title = "Home Page";
}

<h2>Get a file</h2>

<form method="post" runat="server" action="Home/GetFile">

    Filename: <input type="text" name="selectedFile" />
    <input type="submit" value="Get File!" class="btn btn-default" />

</form>

<h2>Upload a file</h2>

<form method="post" runat="server" action="Home/PutFile">
    @foreach (var file in Model)

    {
        <span>
            <input type="checkbox" name="selectedFile" value="@file.FileName" />
            <label for="@file.FileName">@file.FileName</label>
        </span>
    }

    <input type="submit" value="Upload file" class="btn btn-default" />
</form>

<h2>Get list from server</h2>

    <form method="post" runat="server" action="Home/GetListServer">
        <input type="submit" value="Get list" class="btn btn-default" />
    </form>
