@model IEnumerable<Client_IDH14.Models.FileHandler>

@{
    ViewBag.Title = "Home Page";
}

<h2>Connect to server!</h2>

<form method="post" runat="server" action="Home/Connect">

    Server IP: <input type="text" name="server" />
    Port: <input type="text" name="port" />
    <input type="submit" value="Connect!" class="btn btn-default" />

</form>

<h2>Files</h2>

@foreach (var file in Model)
{
    <table>
        <tr>
            <td style="width:250px">@file.FileName</td>
            <td style="width:500px">@file.Checksum</td>
        </tr>
    </table>
}

<form method="post" runat="server" action="Home/GetListServer">
    <input type="submit" value="Get list" class="btn btn-default" />
</form>
<form method="post" runat="server" action="Home/GetFile">
    <input type="submit" value="Get file" class="btn btn-default" />
</form>
<form method="post" runat="server" action="Home/PutFile">
    <input type="submit" value="Put file" class="btn btn-default" />
</form>
