@model IEnumerable<Client_IDH14.Models.FileHandler>

@{
    ViewBag.Title = "Home Page";
}

<h2>Connect to server!</h2>

<form method="post" runat="server" action="Home/Connect">

    Server IP: <input type="text" name="server" />
    Port: <input type="text" name="port" />
    <input type="submit" value="Connect!" class="btn btn-default" />

</form>

<h2>Files</h2>
<ul>
    @foreach (var file in Model)
    {
        <li>@file.FileName</li>
    }
</ul>

